{% extends 'blog/base.html' %}
{% block content%}
    {% for post in posts%}
        <div class="border border-dark my-2 rounded">
            <div class="row px-2">
                <div class="col-md-6">
                    <h4>{{post.title}}</h4>
                </div>
                <div class="col-md-6">
                    <p class="text-muted"><small> {{post.author}} on {{post.date_posted|date:"F d, Y"}}</small></p>
                </div>
            </div>
            <p class="ml-4">{{post.Content}}</p>
        </div>
    {% endfor %}
{%endblock content%}
